<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hensold.telescope.test">

    <!-- Multi-Process Espresso only works on API level 26 and above-->
    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="26"/>
    <application>
        <service
            android:name="com.hensold.telescope.origin.OriginStubTest$TestService"
            android:enabled="true"/>
    </application>
    <!--<instrumentation-->
        <!--android:name="android.support.test.runner.AndroidJUnitRunner"-->
        <!--android:targetProcesses="*" > &lt;!&ndash; The instrumentation attribute introduced in O &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="remoteMethod"-->
            <!--android:value="android.support.test.espresso.remote.EspressoRemote#remoteInit"/>-->

    <!--</instrumentation>-->

</manifest>